.container {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #606c38;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(2, 61, 2);
}

.desc {
  text-align: center;
  color: rgb(3, 150, 3);
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 25px;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 796px) {
  .container {
    width: 50%;
  }

  .title {
    font-size: 20px;
  }

  .price,
  .desc {
    font-size: 20px;
  }
}
